 @import '_variables.scss';
 @import '_mixins.scss';

 html {
   box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

 body {
   background-color: $back-gray;
   font-family: 'roboto', Arial, sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  margin: 0;
   font-family: 'TTFirsNeue', Helvetica, sans-serif;
 }

 a {
   color: inherit;
   text-decoration: none;
   outline: none;
 }

 .container {
   position: relative;
   max-width: 1360px;
   margin: 0 auto;
 }

 .grid {
   display: grid;
 }

 .d-flex {
   display: flex;
 }

img {
  max-width: 100%;
}


section {
  padding-top: 32px;
  padding-bottom: 32px;
}
