 @font-face {
  font-family: 'roboto';
  font-display: swap;
  src: local('roboto-regular')
  url("../fonts/roboto-regular.woff2") format('woff-'),
  url("../fonts/roboto-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
 }

 @font-face  {
  font-family: 'roboto';
  font-display: swap;
  src: local(roboto-bold)
  url("../fonts/roboto-bold.woff2") format('woff2'),
  url("../fonts/roboto-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: local('ttfirsneue-regular'),
  url("../fonts/ttfirsneue-regular.woff2") format('woff2'),
  url("../fonts/ttfirsneue-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: local('ttfirsneue-regular'),
  url("../fonts/ttfirsneue-medium.woff2") format('woff2'),
  url("../fonts/ttfirsneue-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: local('ttfirsneue-bold'),
  url("../fonts/ttfirsneue-bold.woff2") format('woff2'),
  url("../fonts/ttfirsneue-medium.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
