 @import '../variables';
 @import '../mixins';

.articles {
  &__container{
    grid-gap: 32px;
    grid-template-columns:repeat(auto-fill, minmax(20%, 1fr)) ;
    grid-auto-rows: minmax(274px, auto);
  }
}

.article{
  background-color: $color-dark;
  min-height: 100px;
  &_big {
    grid-row-end: span 2;
    grid-column-end: span 3;
  }
  &_height{
    grid-row-end: span 2;
    grid-column-end: span 1 ;
  }

  &_width{
    grid-row-end: span 1;
    grid-column-end: span 2 ;
  }


}
