 @import '../variables';
 @import '../mixins';
 .header{
  z-index: z('header');
  background-color: $color-dark;
  padding: 22px 0;
  &__container{
    @include flex();

  }
  &__nav{
    margin-left: 55px;
  }
  &__burger{
    margin-left: auto;
  }
 }

 .burger  {
  position: relative;
  @include btnReset();
  display: block;
  width: 27px;
  height: 16px;

  &__line{
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $accent1;
    transition: width 0.15 ease-in-out;

    &:nth-child(2){
      top: 50%;
      transition: tranlateY(-50%);
      width: 70%;
    }
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(3){
      bottom: 0;
      width: 50%;
    }
  }
  &:hover{
    .burger__line{
      width: 100%;
      transition: width 0.15s ease-in-out;
    }
  }
 }

 .nav{
    &__list{
      @include makeMenu();
    }
    &__item:not(:last-child){
      margin-right: 50px;
    }
    &__link {
      display: inline-block;
      color: rgba($accent1, 0.2);
      font-size: 20px;
      font-weight: 500;
      font-family: 'TTFirsNeue', Helvetica, sans-serif;
      transition: color 0.3s ease-in-out;

      &:hover{
        color: lighten($accent1, 30%);
        transition: color 0.3s ease-in-out;
      }
      &:focus:not(:active){
        color: $color-white;
        background-color: $accent1;
        transition: color 0.3s ease-in-out;
      }
      &:active{
        color: $accent1;
      }
    }
 }
